.main {
    background: #F9F9FA;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: block;
    background: #FFFFFF;
    width: 100%;
    padding: 22px 24px;
    box-shadow: 0 1px 0 #EFEFEF;
}

.logo {
    color: #0073FA;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #F9F9FA;
}

.block {
    display: flex;
    background: white;
    width: 454px;
    height: 380px;
    border-radius: 5px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 10px;
}

.title1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text1 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
}

.text2 {
    font-family: "Roboto", sans-serif;
    color: #52575C;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    line-height: 18px;
}

.title2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text3 {
    font-family: "Roboto", sans-serif;
    color: #52575C;
    font-size: 13px;
    font-weight: normal;
}

.form {
    display: block;
    background: #FFFFFF;
    border: 1px solid #F1F5FB;
    border-radius: 8px;
    width: 100%;
    padding: 10px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.button {
    display: block;
    background: #0073FA;
    width: 172px;
    min-height: 40px;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
}



